/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 04/06/2024 18:45:12
*/

.SliderList {

  position: relative;
  width: 100vw;
  height: 100vh;
}
