/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 01/06/2024 21:00:56
*/



 
   
.navbar-nav a{

    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}


.navbar .navbar-brand{

   
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px; 

}


.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{

    color: #000;

}